language: java
jdk: oraclejdk8

cache:
    directories:
     - $HOME/.m2/

env:
  global:
  - DOCKER_REGISTRY="docker.io/deepan10"
  - IMAGE_NAME="deepan10/profile"
  - COMMIT_ID=${TRAVIS_COMMIT}
#   - secure: ""

addons:
  sonarcloud:
    organization: "myprofile"
    token:
      secure: $SONAR_TOKEN

install:
  - sudo wget https://mirror.openshift.com/pub/openshift-v3/clients/3.11.16/linux/oc.tar.gz
  - sudo tar -xvf oc.tar.gz -C /usr/bin/

script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

after_success:
- docker login -u $DOCKER_USER -p $DOCKER_PASS
- docker build -t profile-app .
- docker tag profile-app $IMAGE_NAME:$COMMIT_ID
- docker push $IMAGE_NAME:$COMMIT_ID

deploy:
  - provider: script
    script: bash scripts/deploy.sh
    on:
      branch: master

notifications:
  slack: deepan10:nTGqbkpHVVQ159ViRSnpQIjv  